{% load static %} <!--Para archivos estaticos-->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> <!--Importar la hoja de estilos-->
    <title>Inicio</title>

</head>
<body>

        <H1>Bienvenidos</H1> <!--PURO HTML-->
        <img src="{% static 'img/buena.jpg'%}" alt="Guss" width="250">  <!--Añadiendo imagen-->

        
    
        <form action=""> <!--Mandando a llamar funcion de JS-->

            <input type="button" onclick="Saludar()" value="Activar">
        </form>
        

        {{ mensaje }} <!--Mandando a llamar mensaje de views.py-->
</body>
    <script src="{% static 'js/functions.js' %}"></script> <!--IMPORTANDO ARCHIVO JS-->
</html>